@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@400;500&display=swap');* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2EAE2;
}

.container {
    width: 600px;
    height: 450px;
    display: flex;
    margin: 0 auto;
    margin-top: 175px;
    background-color: white;
    border-radius: 15px;
}

.left-img {
    width: 300px;
    height: 450px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.content {
    margin: 32px;
}

.perfume {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 500;
    color: #6C7289;
}

h1 {
    margin-top: 20px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
}

.flo {
    margin-top: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 23px;
    font-size: 14px;
    color: #6C7289;
}

.cost {
    margin-top: 29px;
    display: flex;
}

.cost p:nth-of-type(1) {
    color: #3D8168;
    font-size: 32px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.cost p:nth-of-type(2) {
    margin-left: 19px;
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #6C7289;
    display: flex;
    align-items: center;
}

.button {
    margin-top: 10px;
    width: 236px;
    height: 48px;
    background-color: #3D8168;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 17px;
}

.button i {
    margin-right: 12px;
    
}

.bx {
    color: white;
}

.button:hover {
    background-color: #265040;
}

@media screen and (max-width: 500px) {
    .container {
        width: 375px;
        height: 667px;
        display: flex;
        flex-direction: column;
        background-image: none;
        
    }
    .left-img {
        display: none;
    }
    .image {
        background-image: url(images/image-product-mobile.jpg);
        width: 100%;
        height: 240px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-size: cover;
    }
    .button {
        margin-top: 30px;
    }
}
